<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My MVC Html Helpers Examples</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HTML Helpers", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("From the App_Code Folder", "FromApp_CodeFolder", "Home")</li>
                    <li>@Html.ActionLink("From the Controller", "FromController", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My MVC Html Helpers Examples</p>
            <p><a href="http://www.webdevelopmenthelp.net/2014/07/custom-html-helper-in-aspnet-mvc.html">Reference Link</a></p>
        </footer>
    </div>

    <p class="text-center">this is from the layout. modal is from class.</p>
    @MyClassHelpers.RegularModal("James's Modal Rocks! from layout")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $("#myModal").modal();
    </script>
</body>
</html>
